<p id="notice"><%= notice %></p>

<p>
  <strong>Delay:</strong>
  <%= @status.delay %>
</p>

<p>
  <strong>Fail:</strong>
  <%= @status.fail %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
